<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
</head>
<body>
    <app-navbar></app-navbar>
    
    <!-- Sección 1 - Gris -->
    <section class="full-section control-section" data-animation="fade-up">
      <div class="section-content">
        <div class="image-stack" data-animation="fade-left" data-delay="200">
          <img src="/pagina3-1.png" class="stack-img img-1" 
               data-animation="fade-left" data-delay="300">
          <img src="/pagina3-2.png" class="stack-img img-2" 
               data-animation="fade-left" data-delay="400">
        </div>

        <div class="text-content1" data-animation="fade-right" data-delay="200">
          <h1 class="section-title1" data-animation="fade-up" data-delay="300">Control de Ingreso</h1>
          <p class="section-description1" data-animation="fade-up" data-delay="400">Sistema integral de gestión laboral con:</p>
          
          <ul class="features-list">
            <li style="--index: 0" data-animation="fade-up" data-delay="500">Autenticación segura</li>
            <li style="--index: 1" data-animation="fade-up" data-delay="600">Notificaciones automáticas</li>
            <li style="--index: 2" data-animation="fade-up" data-delay="700">Control de novedades</li>
            <li style="--index: 3" data-animation="fade-up" data-delay="800">Reportes detallados</li>
            <li style="--index: 4" data-animation="fade-up" data-delay="900">Cálculo de horarios</li>
            <li style="--index: 5" data-animation="fade-up" data-delay="1000">Gestión de horas extras</li>
          </ul>

          <button class="whatsapp-btn" data-animation="fade-up" data-delay="1100">
            <i class="fab fa-whatsapp"></i> Me interesa
          </button>
        </div>
      </div>
    </section>

    <!-- Sección 2 - Negro -->
    <section class="full-section tarot-section" data-animation="fade-up">
      <div class="section-content">
        <div class="text-content" data-animation="fade-right" data-delay="200">
          <h1 class="section-title" data-animation="fade-up" data-delay="300">Página Web Interactiva</h1>
          <p class="section-description" data-animation="fade-up" data-delay="400">Desarrollamos una plataforma innovadora de tarot digital...</p>
          
          <ul class="features-list">
            <li style="--index: 0" data-animation="fade-up" data-delay="500">Juego interactivo multietapas</li>
            <li style="--index: 1" data-animation="fade-up" data-delay="600">Pasarela de pagos segura</li>
            <li style="--index: 2" data-animation="fade-up" data-delay="700">Algoritmo de interpretación</li>
            <li style="--index: 3" data-animation="fade-up" data-delay="800">Diseño responsive</li>
          </ul>

          <div class="button-group">
            <a href="https://cartastarotcolombia.com/welcome" 
              class="live-link" 
              target="_blank"
              data-animation="fade-up" data-delay="900">
              Ver proyecto en vivo
            </a>
            <button class="custom-btn" data-animation="fade-up" data-delay="1000">
              Quiero un desarrollo similar
            </button>
          </div>
        </div>

        <div class="image-stack" data-animation="fade-left" data-delay="200">
          <img src="/pagina3-3.png" class="stack-img img-3" 
               data-animation="fade-left" data-delay="300">
          <img src="/pagina3-4.png" class="stack-img img-4" 
               data-animation="fade-left" data-delay="400">
        </div>
      </div>
    </section>

    <!-- Sección 3 - Gris -->
    <section class="full-section control-section" data-animation="fade-up">
      <div class="section-content">
        <div class="image-stack" data-animation="fade-left" data-delay="200">
          <img src="/pagina3-1.png" class="stack-img img-5" 
               data-animation="fade-left" data-delay="300">
          <img src="/pagina3-2.png" class="stack-img img-6" 
               data-animation="fade-left" data-delay="400">
        </div>

        <div class="text-content" data-animation="fade-right" data-delay="200">
          <h1 class="section-title" data-animation="fade-up" data-delay="300">Inventario</h1>
          <p class="section-description" data-animation="fade-up" data-delay="400">Nuestro cliente solicitó un software para llevar el control de los equipos asignados a sus colaboradores</p>
          <p class="section-description" data-animation="fade-up" data-delay="400"></p>
          
          <ul class="features-list">
            <li style="--index: 0" data-animation="fade-up" data-delay="500">Autenticación segura</li>
            <li style="--index: 1" data-animation="fade-up" data-delay="600">Recolección de datos de entrega y devolución</li>
            <li style="--index: 2" data-animation="fade-up" data-delay="700">Firma digital</li>
            <li style="--index: 3" data-animation="fade-up" data-delay="800">Generación de códigos QR</li>
            <li style="--index: 4" data-animation="fade-up" data-delay="900">Generación de informe</li>
            <li style="--index: 5" data-animation="fade-up" data-delay="1000">Filtros de búsqueda</li>
          </ul>

          <button class="whatsapp-btn" data-animation="fade-up" data-delay="1100">
            <i class="fab fa-whatsapp"></i> Me interesa
          </button>
        </div>
      </div>
    </section>
    <section class="logos-section">
      <div class="section-divider"></div>
      <div class="payment-carousel">
        <div class="carousel-track">
          <div class="payment-method">
            <img src="/LogoAngular.png" alt="Angular" />
            <img src="/logoCss.png" alt="Css" />
            <img src="/LogoFigma.png" alt="Figma" />
            <img src="/logoJs.png" alt="js" />
            <img src="/logoReact.png" alt="React" />
            <img src="/LogoTs.png" alt="Ts" />
            <img src="/LogoAngular.png" alt="Angular" />
            <img src="/logoCss.png" alt="Css" />
            <img src="/LogoFigma.png" alt="Figma" />
            <img src="/logoJs.png" alt="js" />
            <img src="/logoReact.png" alt="React" />
            <img src="/LogoTs.png" alt="Ts" />
            <img src="/LogoAngular.png" alt="Angular" />
            <img src="/logoCss.png" alt="Css" />
            <img src="/LogoFigma.png" alt="Figma" />
            <img src="/logoJs.png" alt="js" />
            <img src="/logoReact.png" alt="React" />
            <img src="/LogoTs.png" alt="Ts" />
          </div>
        </div>
      </div>
    </section>
    <footer class="footer-section">
      <div class="footer-content">
        <div class="footer-links">
          <a href="/politica-de-privacidad" class="footer-link">Política de Privacidad</a>
          <a href="/politica-de-seguridad" class="footer-link">Política de Seguridad de la Información</a>
        </div>
        <div class="footer-info">
          <p>Pereira, Risaralda, Colombia</p>
          <p>© 2023 Todos los derechos reservados</p>
        </div>
      </div>
    </footer>
</body>
</html>