<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <app-navbar></app-navbar>
    <!-- Sección de contacto -->
    <section class="contact-section">
        <div class="contact-wrapper">
          <!-- Contenedor de la información de contacto -->
          <div class="contact-content">
            <h2 class="contact-title">Contáctanos</h2>
            <!-- Contacto con logos -->
            <div class="contact-item">
              <img src="/pagina4-1.png" alt="Logo 1">
              <p class="contact-phone">+57 322 40208585</p>
            </div>
            <div class="contact-item">
              <img src="/pagina4-2.png" alt="Logo 2">
              <p class="contact-email">servicioalcliente&#64;sintaxi.com</p>
            </div>
            <div class="contact-item">
              <img src="/pagina4-3.png" alt="Logo 3">
              <a href="https://www.sintaxis.com" class="contact-website" target="_blank">https://www.sintaxis.com</a>
            </div>
            <div class="contact-item">
              <img src="/pagina4-4.png" alt="Logo 4">
              <p class="contact-social">&#64;sintaxisdesarrollo</p>
            </div>
            <div class="contact-item">
              <img src="/pagina4-5.png" alt="Logo 5">
              <p class="company-name">Sintaxis desarrollo</p>
            </div>
            <div class="contact-item">
              <img src="/pagina4-6.png" alt="Logo 6">
              <p class="company-location">Pereira, Risaralda, Colombia</p>
            </div>
          </div>
          <!-- Contenedor de la foto a la derecha -->
          <div class="contact-photo">
            <img src="/Pereira.png" alt="Foto de contacto">
          </div>
        </div>
      </section>
      
      <!-- Footer negro -->
      <footer class="footer-section">
        <div class="footer-content">
          <div class="footer-links">
            <a href="/politica-de-privacidad" class="footer-link">Política de Privacidad</a>
            <a href="/politica-de-seguridad" class="footer-link">Política de Seguridad de la Información</a>
          </div>
          <div class="footer-info">
            <p>Pereira, Risaralda, Colombia</p>
            <p>© 2023 Todos los derechos reservados</p>
          </div>
        </div>
      </footer>
</body>
</html>